.skeleton.light {
  --background: #FBFDFF;
  --text: black;
  --center-top: #C6E8F5;
  --center-bottom: #449ECF;
  --nav: #264863;
  --accent: #368F84;
}
.skeleton.dark {
  --background: #260E2E;
  --text: white;
  --center-top: #305774;
  --center-bottom: #39254A;
  --nav: #ACD7F2;
  --accent: #E4AAD3;
}

@media (prefers-color-scheme: light) {
  .skeleton.light {
    --background: #FBFDFF;
    --text: black;
    --center-top: #C6E8F5;
    --center-bottom: #449ECF;
    --nav: #264863;
    --accent: #368F84;
  }
}

@media (prefers-color-scheme: dark) {
  .skeleton.system {
    --primary-hue: #1E1F26;
    --primary-tint: #0C0032;
    --primary-shade: #4D648D;
    --secondary-hue: #283655;
    --secondary-tint: #D0E1F9;
    --secondary-shade: #D0E1F9;
    --accent: #240090;
    --text: white;
  }
}
